@{
    ViewData["Title"] = "Gapping Analyzer";
}
<p>This page will allow the user to input their carry yardages for each club in their bag, and will analyze the yardage gaps between each club. 
    It will identify problematic gaps in their bag and provide club suggestions to fix any gapping issues.</p>
<div class="horizontalMaster">
    <div class="horizontalLeft">
        <table>
            <tr>
                <th>Club</th>
                <th>Value</th>
                <th>Gap</th>
            </tr>
            <tr class="club">
                <td>
                    <label for="driver">Driver</label>
                </td>
                <td>
                    <input type="text" id="0" name="driver">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="wood3">3 Wood</label>
                </td>
                <td>
                    <input type="text" id="1" name="wood3">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="hybrid">Hybrid</label>
                </td>
                <td>
                    <input type="text" id="2" name="hybrid">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron3">3 Iron</label>
                </td>
                <td>
                    <input type="text" id="3" name="iron3">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron4">4 Iron</label>
                </td>
                <td>
                    <input type="text" id="4" name="iron4">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron5">5 Iron</label>
                </td>
                <td>
                    <input type="text" id="5" name="iron5">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron6">6 Iron</label>
                </td>
                <td>
                    <input type="text" id="6" name="iron6">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron7">7 Iron</label>
                </td>
                <td>
                    <input type="text" id="7" name="iron7">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron8">8 Iron</label>
                </td>
                <td>
                    <input type="text" id="8" name="iron8">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="iron9">9 Iron</label>
                </td>
                <td>
                    <input type="text" id="9" name="iron9">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="wedgePW">PW</label>
                </td>
                <td>
                    <input type="text" id="10" name="wedgePW">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="wedgeGW">GW</label>
                </td>
                <td>
                    <input type="text" id="11" name="wedgeGW">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="wedgeSW">SW</label>
                </td>
                <td>
                    <input type="text" id="12" name="wedgeSW">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
            <tr class="club">
                <td>
                    <label for="wedgeLW">LW</label>
                </td>
                <td>
                    <input type="text" id="13" name="wedgeLW">
                </td>
                <td>
                    <h4></h4>
                </td>
            </tr>
        </table>
        <button onclick="collectClubData()">Analyze</button>
        <button onclick="resetGappingData()">Reset</button>
    </div>
    <div class="horizontalRight">
        
    </div>
</div>