@{
    ViewData["Title"] = "Handicap Calc";
}

<div class="text-center">
    <p>Learn about the <a target="_blank" href="https://d34oo5x54o72bd.cloudfront.net/app/uploads/2024/01/Golf-Canada-2024-Rules-of-Handicapping-EN-1705589793.pdf?x26007&x26007&x26007&x26007">Handicap Index</a>.</p>
    <p>Input up to 20 scores, course ratings, and slope ratings. If no course or slope rating is provided, average values will be used by default.</p>
    <div id="master-container">
        <div id="scores-container">
        </div>
    </div>
    <button onclick="addNewRow()">New Score</button>
    <button onclick="calculateHandicap()">Calculate</button>
    <button onclick="clearScores()">Reset</button>
    <div>
        <h1 id="handicap"></h1>
    </div>
</div>