@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to my page.</p>
    <p>This is a placeholder page that will have previews and links to each of my projects, as well as my GitHub repository.</p>
 
</div>

